.header {
    background-color: #000; 
    padding: 5px 0; 
    color:white;
  }
  
  .navbar {
    display: flex;
    align-items: center;
    padding: 0 20px;
  }

  .navbar__menu {
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    flex: 1;
  }
  
  .navbar__logo {
    display: flex;
    justify-content: center;
    flex: 1;
  }
  
  .navbar__right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
  }
  
  .navbar__search {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .navbar__search-input {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
  }
  
  .navbar__search-button {
    padding: 5px 15px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .navbar__search-button:hover {
    background-color:#ccc;
  }
  
  .navbar__cart{
    display: flex;
    align-items: center;
    color: white;
  }
