*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
}

:root {
    font-family: "Encode Sans", sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --navbar-text-color: white;
    min-height: 705px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #ccc;
}

ul, ol, menu {
    list-style: none;
}
