.item-detail__price {
    font-size: 1.25rem;
    margin-top: 10px;
  }
  
  .item-detail__description-title {
    font-size: 1.25rem;
    margin-bottom: 10px;
  }
  

  .item-detail__add-to-cart {
    display: inline-block;
    padding: 5px 20px;
    margin-bottom: 20px;
    font-size: 1rem;
    color: rgb(61, 60, 60);
    background-color: #ccc; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 400px;
  }
  
  .item-detail__add-to-cart:hover {
    background-color: #075fbd; 
    color: white
  }

  .item-detail__description {
    white-space: pre-line; /* Esto preservará los saltos de línea y los espacios */
  }